<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.improve.improveai_android"
    android:versionCode="1"
    android:versionName="1.0.0.alpha">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="ai.improve.DEFAULT_TRACK_URL"
            android:value="https://gh8hd0ee47.execute-api.us-east-1.amazonaws.com/track" />

    </application>

</manifest>